SECRET_KEY=django-insecure-!%&af%rndt8yjsr*di(yto8bbzio^g7p!---=2s=z*2d__91@s
POSTGRES_DB=movies_database
POSTGRES_USER=postgres
POSTGRES_PASSWORD=1234
POSTGRES_HOST=billing-manager-db
POSTGRES_PORT=5432

CELERY_BROKER=redis://billing-manager-redis:6379/0
CELERY_BACKEND=redis://billing-manager-redis:6379/0

PYTHONPATH=/code